.layout {
  /* background: radial-gradient(50% 50% at 50% 50%, #63386a 0%, #310438 100%); */
  background-color: #fff;
  background-size: "cover";
}

.container {
  max-width: 408px;
  margin: auto;
}

.title {
  text-align: center;
  color: #626262;
  font-size: 30px;
  letter-spacing: -0.04em;
}

.imageContainer {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 1rem;
  margin: auto;
}

.signin-fields-container{
  margin: auto;
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputField{
  padding: 20px
}

.headerSlack, .contentSlack{
  background: white !important; 
}

.pClickable{
  cursor: pointer;
}