@import "./colors.scss";

.button {
    cursor: pointer;
}

input[disabled]{
    color: black !important;
}

.ant-input-disabled{
    color: black !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #b9b5b8 !important;
}

.titleInBlack{
    color: #000 !important;
}


.textIndicator{
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}

.receiverMessage{
    background-color: "#a2e5af";
    width: "50%";
    padding: "25px";
    align-items: "flex-end"
}

.sendDate{
    font-size:10px;
    columns: black;
}

.preview-message{
    padding: 10px 15px;
    border-radius: 14px;
    width: 100%;
    max-width: 32rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #00307B;
}

.preview-message--sent {
    background: #0047FF;    
    color: #FFFFFF;
    margin-left: auto;
}
.preview-message--received {
    background: #FFFFFF;
    color: #00307B;
    margin-right: auto;
}

.message {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 15px;
    border-radius: 10px; 
    cursor: pointer;   
    &:hover {
        background-color: #f2f5fa;
    }
    &__picture {
        width: 12px; height: 12px;
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #00307B;
    }
    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #5978A9;
    }
    &__date {        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #0047FF;
        &--right {
            margin-right: 0;
            margin-left: auto;
        }
    }
}
.message-status {
    width: 16px; height: 16px;
    border: 3px solid #dddddd;
    border-radius: 50%;
    background: white;
    &--online {
        background-color: rgb(25, 209, 25);
    }
}
.message--active {
    background-color: #F4F8FF;
}


.messageHeader{
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.messageSideItem{
    cursor: pointer;
}

.input-send-message{
    border-radius: 6px;
    border: 1px solid gainsboro;
}

.sendIcon{
    width:25px;
    height:25px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.messageWrapper{
    height: 500px;
    max-height: 500px;
    overflow: auto;
    padding: 1px 20px;
    width:100%
}

.ant-layout-footer{
    padding: 0 !important;
}

.btnCreateChannel{
    background-color: #0047FF;
    border-color: #0047FF;
}

.imageContainer{
    height: 60px;
    width: 60px;
}

.imageContainer img{
    width: 100%;
}